ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  font-size: 20px;
  padding: 14px 10px 14px 40px;
  background-color: #eee;
}

ul li:nth-child(odd) {
  background-color: #f9f9f9;
}
